/* im going fucking insane */

/* fuckery */
@keyframes ass {
	from {
		height: 0;
	}
	to {
		height: 16px;
	}
}

.isSending-9nvak6 {
	animation-name: ass;
	animation-duration: 0.2s;
}




/* editing messages */
@keyframes editSlide {
	from {
		margin-left: -16px;
		margin-top: -17px;
	}
	to {
		margin-left: 0;
		margin-top: 0;
	}
}
@keyframes editMessage {
	from {
		height: 1px;
	}
	to {
		height: 44px;
	}
}
@keyframes editOpacity {
	from {
		background-color: transparent;
	}
	to {
		background-color: var(--channeltextarea-background);
	}
}
@keyframes editOperations {
	from {
		height: 1px;
		opacity: 0;
	}
	to {
		height: 26px;
		opacity: 1;
	}
}

@keyframes editMessageMargin {
	from {
		margin-bottom: 0;
	}
	to {
		margin-bottom: 26px;
	}
}

@keyframes editOperationsMargin {
	from {
		margin-top: 0;
	}
	to {
		margin-top: -26px;
	}
}

.message-2qnXI6 .textArea-12jD-V .markup-2BOw-j div {
	animation-name: editSlide;
	animation-duration: 0.5s;
}

.message-2qnXI6 .charCounterAdded-zz9O4t {
	z-index: 5;
	/* height: 1px !important; */
	min-height: unset;
	/* overflow: hidden; */
	animation-name: editMessage, editMessageMargin;
	animation-duration: 0.5s, 0.2s;
	margin-bottom: 26px;
}
.operations-36ENbA {
	position: absolute;
	overflow: hidden;
	animation-name: editOperations, editOperationsMargin;
	animation-duration: 0.5s, 0.2s;
	margin-top: -26px;
}

.message-2qnXI6 .charCounterAdded-zz9O4t .scrollableContainer-2NUZem {
	animation-name: editOpacity;
	animation-duration: 0.5s;
}



/* colors */
.theme-dark .container-1D34oG {
	background-color: rgb(var(--background));
}
/* upload modal */
.theme-dark .uploadModal-2ifh8j {
	background-color: transparent;
	backdrop-filter: var(--smallblur);
}
.theme-dark .footer-3mqk7D {
	background-color: rgba(var(--background-semilight),0.8)
}
/* checkboxes */
.theme-dark .checkbox-1ix_J3,
.theme-dark .checkbox-1ix_J3 path{
	transition: var(--colortransition);
}
.theme-dark .checkbox-1ix_J3[style*="border-color"] {
	border-color: rgb(var(--accent)) !important;
	background-color: rgba(var(--accent),var(--checkedtransparency));
}
.theme-dark .checkbox-1ix_J3[style*="border-color"] path {
	fill: rgb(var(--accent)) !important
}
/* filled buttons */
.lookFilled-1Gx00P.colorBrand-3pXr91,
.actionButton-3W1xZa {
	background-color: rgba(var(--accent),var(--buttontransparency)) !important;
}
.lookFilled-1Gx00P.colorBrand-3pXr91:hover,
.colorDefault-2K3EoJ.focused-3afm-j,
.actionButton-3W1xZa:hover {
	background-color: rgba(var(--accent),var(--buttonhovertransparency)) !important;
}
/* mentions */
.mentioned-xhSam7:before {
	background: transparent;
}

.wrapper-3WhCwL {
	color: rgb(var(--accent));
	background-color: rgba(var(--accent),0.15);
}

.interactive {
	transition: var(--colortransition);
}
.interactive:hover {
	color: rgb(var(--accent));
	background-color: rgba(var(--accent),0.3);
}
.theme-dark .mentioned-xhSam7 .mention.interactive:hover, .theme-light .mentioned-xhSam7 .mention.interactive:hover {
	color: rgb(var(--accent));
	text-shadow: 0 0 2px rgb(var(--accent));
}
/* right click menu */
.menu-3sdvDG {
	background-color: rgba(0,0,0,0.6);
	/* backdrop-filter: brightness(10%); */ /* lmao why the hell does a backdrop filter make it spazz out?? */
}
.menu-3sdvDG .item-1tOPte {
	transition: var(--colortransition);
}
/* video progress bar */
.mediaBarGrabber-1FqnbN, .mediaBarProgress-1xaPtl, .mediaBarProgress-1xaPtl:after, .mediaBarProgress-1xaPtl:before {
	background-color: rgb(var(--accent));
}
/* sidebar left */
.theme-dark .sidebar-2K8pFh .containerDefault--pIXnN .content-1x5b-n .children-3rEycc div[role="button"] {
	margin-left: -26px;
	transition: 0.5s;
}
.theme-dark .sidebar-2K8pFh:hover .containerDefault--pIXnN .content-1x5b-n .children-3rEycc div[role="button"] {
	margin-left: 0;
}

.theme-dark .sidebar-2K8pFh .containerDefault--pIXnN .content-1x5b-n {
	margin-left: 14px;
	transition: 0.5s;
}
.theme-dark .sidebar-2K8pFh:hover .containerDefault--pIXnN .content-1x5b-n {
	margin-left: 28px;
}
.sidebar-2K8pFh {
	width: 58px !important;
	transition: 0.5s;
}
.sidebar-2K8pFh .mentionsBadge-3tC7Mi {
	margin-left: 0;
	transition: 0.5s;
}
.sidebar-2K8pFh:hover .mentionsBadge-3tC7Mi {
	margin-left: 4px;
}
.sidebar-2K8pFh .voiceUser-1K6Xox {
	padding-left: 10px !important;
	transition: 0.5s;
}
.sidebar-2K8pFh:hover .voiceUser-1K6Xox {
	padding-left: 44px !important;
}
.sidebar-2K8pFh .name-uJV0GL,
.sidebar-2K8pFh .subText-1KtqkB,
.sidebar-2K8pFh .nsfwTag-666omg,
.sidebar-2K8pFh div[aria-label="Create Invite"],
.sidebar-2K8pFh .name-1jkAdW,
.sidebar-2K8pFh .name-23GUGE {
	opacity: 0%;
	transition: 0.5s;
}
.sidebar-2K8pFh:hover .name-uJV0GL,
.sidebar-2K8pFh:hover .subText-1KtqkB,
.sidebar-2K8pFh:hover .nsfwTag-666omg,
.sidebar-2K8pFh:hover div[aria-label="Create Invite"],
.sidebar-2K8pFh:hover .name-1jkAdW,
.sidebar-2K8pFh:hover .name-23GUGE {
	opacity: 100%;
}
.sidebar-2K8pFh:hover {
	width: 240px !important;
}

/* spotfy */
.sidebar-2K8pFh .timeline-UWmgAx .barText-lmqc5O :nth-child(2) {
	will-change: opacity;
	transition: opacity 0.2s;
	opacity: 0;
}
.sidebar-2K8pFh:hover .timeline-UWmgAx .barText-lmqc5O :nth-child(2) {
	opacity: 1;
}
.sidebar-2K8pFh .timeline-UWmgAx .barText-lmqc5O :nth-child(1) {
	will-change: margin;
	transition: margin 0.2s;
	margin-left: 5px;
}
.sidebar-2K8pFh:hover .timeline-UWmgAx .barText-lmqc5O :nth-child(1) {
	margin-left: 0;
}

.sidebar-2K8pFh .panels-j1Uci_ {
	will-change: margin;
	transition: margin 0.2s;
	margin-left: 8px;
}
.sidebar-2K8pFh:hover .panels-j1Uci_ {
	margin-left: 0;
}

/* sidebar right */
.nowPlayingColumn-2sl4cE .header-13Cw0-,
.nowPlayingColumn-2sl4cE .textContent-3N7xXx{
	opacity: 0%;
	transition: 0.5s;
}

.nowPlayingColumn-2sl4cE:hover .header-13Cw0-,
.nowPlayingColumn-2sl4cE:hover .textContent-3N7xXx{
	opacity: 100%;
}

.nowPlayingColumn-2sl4cE {
	margin-right: -320px;
	transition: 0.5s;
}
.nowPlayingColumn-2sl4cE:hover {
	margin-right: 0;
}

.member-3-YXUe {
	max-width: unset;
}
.members-1998pB {
	width: 100%;
}
.membersWrap-2h-GB4 {
	width: 340px;
	/* margin-right: -188px; */
	margin-right: -280px;
	transition: 0.5s;
}
.membersWrap-2h-GB4:hover {
	margin-right: 0;
}
.membersWrap-2h-GB4 .membersGroup-v9BXpm {
	opacity: 0 !important;
	height: 0 !important;
	transition: 0.5s;
}
.membersWrap-2h-GB4:hover .membersGroup-v9BXpm {
	opacity: 1 !important;
	height: 40px !important;
}
/* user modals */

.header-2BwW8b,
.topSectionSpotify-1lI0-P {
	background: rgba(var(--accent),var(--buttonhovertransparency));
}
.userPopout-3XzG_A {
	/* backdrop-filter: var(--midblurdark); */
	background: #000;
}
.theme-dark .body-3iLsc4, .theme-dark .footer-1fjuF6 {
	background-color: transparent;
}
/* emoji/gif picker */
.theme-dark #emoji-picker-tab-panel .categoryList-2Kzf65 {
	background-color: transparent;
	height: 76%;
}
.drawerSizingWrapper-17Mss4 {
	width: 75% !important;
}
.positionContainer-DEuh7X {
	height: 650px;
}
/* emoji */
.autocomplete-1vrmpx {
	background-color: rgb(var(--background-semilight)) !important;
}
.autocomplete-1vrmpx .autocompleteRowVerticalSmall-1bvn6e .base-1pYU8j div {
	transition: 0.5s;
	opacity: 0.6;
}
.autocomplete-1vrmpx .autocompleteRowVerticalSmall-1bvn6e .selected-1Tbx07 div {
	transition: 0s;
	opacity: 1 !important;
}
.autocomplete-1vrmpx .autocompleteRowVerticalSmall-1bvn6e .base-1pYU8j {
	transition: 0.5s;
}
.autocomplete-1vrmpx .autocompleteRowVerticalSmall-1bvn6e .selected-1Tbx07 {
	transition: 0s;
	background: rgba(var(--accent),0.25);
}
/* quickswitcher */
.input-2VB9rf {
	background-color: rgb(var(--background-semilight));
}
.quickswitcher-3JagVE .resultDefault-1ymv3u {
	transition: 0.5s;
}
.quickswitcher-3JagVE .resultDefault-1ymv3u .contentDefault-16dKSY {
	font-family: "Ubuntu Mono";
	opacity: 0.5;
	transition: 0.5s;
}
.quickswitcher-3JagVE .resultDefault-1ymv3u .contentUnread-3gTHvA {
	font-family: "Ubuntu Mono";
	opacity: 0.7;
	transition: 0.5s;
}
.quickswitcher-3JagVE .resultFocused-3aIoYe {
	background: rgba(var(--accent),0.25);
	font-family: "Ubuntu Mono";
	opacity: 1;
}
.customStatusText-3YJeRZ {
	overflow: hidden;
}
.hidden-HHr2R9 {
	box-shadow: 0 0 25px inset #f00 !important;
	transition: 0.5s;
}
.hidden-HHr2R9:hover {
	box-shadow: 0 0 150px inset #f00 !important;
}
.spoilerWarning-2aAZq1 {
	border-radius: 0;
	background: #000 !important;
	width: 50px;
	transition: 0.5s;
}
.spoilerContainer-331r0R:hover .spoilerWarning-2aAZq1 {
	background: #000a !important;
	width: 100%;
}
/* .spoilerWarning-2aAZq1:after {
	width: 0;
	height: 100%;
	position: absolute;
	top: 0;
	z-index: -1;
	background: #000;
	content: '.';
	color: transparent;
	transition: 0.5s;
}
.spoilerContainer-331r0R:hover .spoilerWarning-2aAZq1:after {
	background: #000a;
	width: 500%;
} */
.spoilerText-3p6IlD.hidden-HHr2R9 {
	box-shadow: none !important;
	background: rgba(0,0,0,0.1);
}
.spoilerText-3p6IlD.hidden-HHr2R9 .inlineContent-3ZjPuv {
	opacity: 1;
	filter: blur(10px);
	transition: 0.5s;
}
.spoilerText-3p6IlD.hidden-HHr2R9:hover .inlineContent-3ZjPuv {
	filter: blur(5px);
}

/* ::after {
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 50%;
	text-align: center;
	content: "im a cute femboy wolfie";
	color: #800;
	z-index: 10;
	pointer-events: none;
}
img {
	content: url("https://cdn.discordapp.com/attachments/756615722062446742/814457930900439060/Screenshot_20210115-182411.png") !important;
}
/* img {
	content: url("https://cdn.discordapp.com/attachments/756615722062446742/814457770765844520/image0.png") !important;
} */
/* img {
	content: url("https://cdn.discordapp.com/attachments/756615722062446742/814457848481185822/unknown.png") !important;
} */

.quickswitcher-3JagVE {
	flex-direction: column-reverse;
	background: #000;
	border-radius: 0;
	padding: 0;
}
.scroller-zPkAnE {
	max-height: 500px;
}
.protip-1b9XPC {
	visibility: hidden;
	position: absolute;
}
.input-2VB9rf {
	width: 100%;
	height: 30px;
	font-family: "Ubuntu Light";
	font-size: 14px !important;
	background: #000;
}
.container-3qKHyN {
	height: 100%;
}
.quickswitcher-3JagVE .resultFocused-3aIoYe {
	background: #000;
}

/* channels */
.containerDefault--pIXnN.selected-3LIHYU .content-1x5b-n {
	background-color: transparent;
	background-image: linear-gradient(to right, rgb(var(--accentBright)) 7px, rgba(var(--accentBright),0.5) 7px, rgba(var(--accentBright),0.1) 80px);
}
.containerDefault--pIXnN.selected-3LIHYU .content-1x5b-n .icon-1DeIlz {
	color: rgb(var(--accentBright)) !important;
	filter: saturate(100%) brightness(250%);
}
.wrapper-2jXpOf .content-1x5b-n {
	transition: background-color 0.2s !important;
}
.wrapper-2jXpOf:hover .content-1x5b-n {
	background-color: rgba(var(--accentBright),0.25);
}
.wrapper-2jXpOf:hover .content-1x5b-n .icon-1DeIlz {
	color: rgba(var(--accentBright), 0.5);
	filter: saturate(100%) brightness(250%);
}

/* new ass pfp shit fuck */
.avatar-22FtUu {
	border-radius: 5px;
}

/* no settings anim */
.layer-3QrUeG {
	transform: none !important;
	opacity: 1 !important;
}

.layers-3iHuyZ>.layer-3QrUeG.animating-rRxada *,
.layers-3iHuyZ>.layer-3QrUeG.animating-rRxada {
	pointer-events: auto !important;
	will-change: unset;
}

.animating-rRxada.stop-animations {
	z-index: 100 !important;
}

/* memberlist rolecolor */
.avatar-3uk_u9 {
	z-index: 1;
}
span.roleColor-rz2vM0::after {
	z-index: 0;
	content: "";
	/* background-image: linear-gradient(to left, currentColor 0%, transparent 100%); */
	background: currentColor;
	width: 100%;
	height: 100%;
	position: absolute;
	opacity: 0.11;
	left: 0;
	top: 0;
	transition: opacity 0.1s;
}
span.roleColor-rz2vM0:hover::after {
	opacity: 0.2;
	filter: saturate(300%);
}
.clickable-1JJAn8.container-2Pjhx-:hover, .clickable-1JJAn8.container-2Pjhx-:hover .muted-3mU76i {
	background-color: transparent !important;
}
.clickable-1JJAn8:hover .layout-2DM8Md {
	background-color: transparent !important;
}

/* activity colors */
.activity-3v9l4T {
	background-color: #212224;
	padding-bottom: 16px;
}

/* darker panels */
.panels-j1Uci_ {
	background-color: #130B19;
}

code {
    font-family: 'Fira Code', monospace !important;
}
/* input font */
input, .textArea-12jD-V span, .username-1A8OIy {
	font-family: "Fira Code" !important;
	font-size: 14px !important;
}

.markup-2BOw-j {
	font-family: "Fira Code" !important;
	font-size: 14px !important;
}





#channelTabs-container {
    height: 30px;
    z-index: 3002;
}
.channelTabs-tabContainer {
    margin-top: 0;
    z-index: 3002;
    background: linear-gradient(to right, #231D2F, #231D2F, #271D36, #271D36, #311A2E, #32211D, #3F1820, #3F1820, #3E1511, #2F1B1A, #2F1B1A) !important;
    height: 22px;
}
/* .titleBar-AC4pGV {
    width: 100px;
    right: 0;
    position: absolute;
} */
.app-2rEoOp {
    flex-direction: column-reverse;
}


.channelTabs-tabContainer {
	min-height: unset !important;
	height: 30px !important;
}
#channelTabs-container {
	height: 30px !important;
}

.channelTabs-tab {
    transition: background-color 0.2s;
    background-color: transparent !important;

    border-radius: 0 !important;
    margin-left: 1px !important;

    height: 18px !important;
    /* width: 130px !important; */
}
.channelTabs-tab:hover {
    background-color: rgba(102, 102, 102, 0.336) !important;
}
.channelTabs-tab.channelTabs-selected {
    background-color: rgba(102, 102, 102, 0.623) !important;
}
.channelTabs-tab.channelTabs-selected:hover {
    background-color: #666 !important;
}

.channelTabs-tab .channelTabs-closeTab {
	transition: opacity 0.2s;
	opacity: 0;
}
.channelTabs-tab:hover .channelTabs-closeTab {
	opacity: 1;
}

.channelTabs-closeTab {
	background: rgba(31, 31, 31, 0.1) !important;
	color: rgb(170, 170, 170) !important;
	height: 20px !important;
	width: 20px !important;
	margin-right: 5px !important;
	line-height: 20px !important;
	top: 3px !important;
}
.channelTabs-closeTab:hover {
	background-color: rgba(31, 31, 31, 0.5) !important;
}


.channelTabs-newTab {
	transition: opacity 0.2s;
	bottom: 4px !important;
	opacity: 0;
}
.channelTabs-tabContainer:hover .channelTabs-newTab {
	opacity: 1;
}

.channelTabs-tabIcon {
	transition: opacity 0.2s;
	bottom: 5px !important;
}
.channelTabs-selected .channelTabs-tabIcon,
.channelTabs-tab:hover .channelTabs-tabIcon {
	opacity: 0;
}

.channelTabs-tabName {
	transition: margin 0.2s, margin-bottom 0.3s;
	margin-bottom: 7px !important;
}
.channelTabs-selected .channelTabs-tabName,
.channelTabs-tab:hover .channelTabs-tabName {
	margin-left: 7px !important;
	margin-bottom: 11px !important;
}


/* .channelTabs-tab .channelTabs-tabName {
    max-width: 150px;
    text-overflow: clip;
    background: -webkit-linear-gradient(left, var(--interactive-normal) 90%, transparent);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.channelTabs-selected .channelTabs-tabName {
    background: -webkit-linear-gradient(left, var(--interactive-active) 90%, transparent);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
} */

.channelTabs-tab:not(.channelTabs-selected):hover {
    cursor: default !important;
}

.channelTabs-tab .channelTabs-closeTab {
    transition: background 0.2s;
}


.channelTabs-tab::before {
    transition: 0.1s;
    /* -webkit-mask-image: unset !important; */

    position: absolute !important;
    content: "" !important;
    width: 50% !important;
    height: 6px !important;
    bottom: 0px;
    left: 50px;
    background-color: #b600ff !important;
    opacity: 0;
}
.channelTabs-selected::before, .channelTabs-tab:hover::before {
    width: 100% !important;
    left: 0px;
    opacity: 1;
}



.role-2irmRk {
    padding: 0;
}

.roleCircle-3xAZ1j {
    border-radius: 100px;
    width: 100%;
    height: 100%;
    opacity: 0.2;
}
.roleName-32vpEy {
    z-index: 2;
    margin-left: calc(-100%);
    padding: 0 4px;
}

.roleRemoveIcon-2-TeGW {
	transition: width 0.2s;
	display: block;
	opacity: 0;
	width: 0;
	margin-right: calc(-75%);
}

.role-2irmRk:hover .roleRemoveIcon-2-TeGW {
	width: 10px;
}




/* stupid dumbass fucking "Enable threads early for your community!" STFU IDCCCCCCCCC */
/* .layer-v9HyYc[id^="popout_"] {
	visibility: hidden;
	pointer-events: none !important;
} */

.members-1998pB .badges-XRnWAp {
	position: absolute;
	visibility: hidden;
}


.messagesWrapper-1sRNjr {
	box-shadow: inset 0 0 25px 1px rgba(var(--background-dark), 0.5);
}


.tooltip-2QfLtc {
	background: rgba(0, 0, 0, 0.5) !important;
	backdrop-filter: blur(5px);
}
.tooltip-2QfLtc .bodyInnerWrapper-26fQXj {
	background: transparent;
}
.tooltip-2QfLtc .rolesList-1geHY1 {
	max-width: 200px;
}
.tooltip-2QfLtc .textarea-2r0oV8 {
	max-width: 300px;
}
.listItemTooltip-1JmWJ7 {
	max-width: unset !important;
}
.FarcradaTooltipLeft {
	width: unset !important;
}

.gifFavoriteButton-3Zycl7.selected-1mBDsA,
.gifFavoriteButton-3Zycl7:hover {
	color: var(--brand-experiment);
	filter: brightness(150%);
}
.gifFavoriteButton-3Zycl7:after {
	border-color: var(--brand-experiment);
}

.layer-3QrUeG[aria-label="USER_SETTINGS"] .sidebarRegion-VFTUkN,
.layer-3QrUeG[aria-label="USER_SETTINGS"] .contentColumn-2hrIYH, .layer-3QrUeG[aria-label="USER_SETTINGS"] .customColumn-Rb6toI {
	flex: unset;
	max-width: unset;
	padding-left: 5px;
	padding-right: 5px;
}
.layer-3QrUeG[aria-label="USER_SETTINGS"] .contentColumn-2hrIYH {
	width: 100%;
}


/* .membersWrap-2h-GB4 .wrapper-3t9DeA {
	transition: height 0.4s, width 0.4s, margin 0.4s;
	height: 25px !important;
	width: 25px !important;
	margin-left: -10px;
}
.membersWrap-2h-GB4 .member-3-YXUe:hover .wrapper-3t9DeA {
	height: 32px !important;
	width: 32px !important;
	margin-left: 0;
} */

/* .membersWrap-2h-GB4 .subText-1KtqkB {
	transition: height 0.1s;
	height: 0;
} */
/* .membersWrap-2h-GB4 .member-3-YXUe {
	transition: height 0.1s;

	padding-top: 5px;
	padding-bottom: 5px;
	margin-top: 7px;
	margin-bottom: 7px;
	height: 25px;

	overflow: hidden;
}
.membersWrap-2h-GB4 .member-3-YXUe:hover {
	height: 44px;
} */
/* .membersWrap-2h-GB4 .member-3-YXUe:hover .subText-1KtqkB {
	height: 16px;
} */
/* .layout-2DM8Md {
	height: 100%;
} */


/* quick switcher anims */
@keyframes backdropFadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 0.85;
	}
}
.backdrop-1wrmKB {
	animation-name: backdropFadeIn;
	animation-duration: 0.2s;
}

@keyframes openSwitcherPadder {
	from {
		height: 0;
	}
	to {
		height: 15px;
	}
}

@keyframes openSwitcher {
	from {
		max-height: 0;
	}
	to {
		max-height: 500px;
	}
}
.quickswitcher-3JagVE .scroller-zPkAnE {
	animation-name: openSwitcher;
	animation-duration: 1s;
}
.quickswitcher-3JagVE .scroller-zPkAnE::-webkit-scrollbar {
	display: none;
}

.quickswitcher-3JagVE .content-3YMskv > :not([Class]):nth-child(1) {
	animation-name: openSwitcherPadder;
	animation-duration: 0.2s;
}

.ring-13rgEW {
	box-shadow: 0 0 0 1px hsl(297,calc(var(--saturation-factor, 1)*100%),47.8%);
	transition: 0.2s;
}